.modal {
    /* The Modal (background) */
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.75);
    /* Black w/ opacity */

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        /* Could be more or less, depending on screen size */
        border-radius: 10px;
    }

    button {
        color: black;
        background-color: rgba(0, 0, 0, 0.1);
    }

    .close {
        color: $backgroundColor;
        float: right;
        text-align: right;
        font-size: 28px;
        font-weight: bold;
        margin: -15px 0
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .settingsLabel {
        font-size: 2em;
        color: $backgroundColor;
    }
}

.modal.active {
    display: block;
}