$lineColor: #aaaaaa;
$headerColor: #03348f;
$textColor: #e5e5e5;
$backgroundColor: #222222;
$errorColor: #aa0300;
$warningColor: #ffd000;
$successColor: #009130;
$enable-print-styles: false;

/*asdfasdfadfasdfasdfasdfasdfasdf*/

body,
input,
button,
input[type="button"] {
    background-color: $backgroundColor;
    color: $textColor;
}

.purchaseSectionGroup {
    background-color: #101010;
    padding: 22px 0px;
    margin: 5px 0;
    border-radius: 11px;
}

button,
input {
    outline: 0 !important;
}

.container,
.headerContainer {
    width: 100%;
    max-width: 100%;
    padding: 0;
}

.applicationHeader {
    text-align: center;
    background-color: $headerColor;
    color: $textColor;
    width: 100%;
    padding: 20px;
    transition: all .5s ease-out;

    h1 {
        // font-size: 4vw;
        font-size: 40px;
    }
}

.headerContainer.error .applicationHeader {
    background: $errorColor;
    transition: all .05s ease-out;
}

.headerContainer.warning .applicationHeader {
    background: $warningColor;
    color: $backgroundColor;
    transition: all .05s ease-out;
}

.headerContainer.ok .applicationHeader {
    background: $successColor;
    transition: all .05s ease-out;
}


.settingsContent,
.ticketPurchaseSection {
    margin: 0 auto;
    padding: 25px;
}

.appLabel {
    font-size: 1.6em;
    margin-bottom: 10px;
    color: $textColor;
}

.app-btn.active,
.app-btn:hover {
    color: $textColor;
}

.app-btn:hover {
    background-color: rgba(0, 128, 0, 0.5);
    border-color: rgba(0, 128, 0, 0.5);
}

.app-btn.active {
    background-color: green;
    border-color: green;
}

.app-btn.active:hover {
    background-color: rgba(0, 128, 0, 0.8);
    border-color: rgba(0, 128, 0, 0.8);
}

.settingsSection div .app-btn {
    margin-right: 10px;
}

.settingsSection div .app-btn:last-child {
    margin-right: 0;
}

.inputScanContainer button,
.app-btn,
#clearUsageDetails {
    border: 2px solid #6a6a6a;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 1.35em;
    overflow: hidden;
    padding: 0.25em 0.5em;
    border-radius: 6px;
    cursor: pointer;
}

.clear {
    float: none;
    clear: both;
}

@import "ticketScan";
@import "settingsModal.scss";
@import "ticketPurchase.scss";


.ticketPurchaseWindowContainer {
    .ticketPurchaseSection {
        .purchaseSectionGroup {
            float: left;
            text-align: center;

            .appLabel {
                text-align: center;
            }
        }

        .purchaseSectionGroup.left {
            width: 60%;
            padding-right: 2vw;
        }

        .purchaseSectionGroup.right {
            width: 40%;
        }
    }

    .splitTransaction {

        .splitCashAmountInputs {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
        }

        button {
            padding: 0 5vh 0 3vh;
            height: 7vh;
            width: 0vw;
            font-size: 4vh;
            margin-right: 0;
        }

        .decrease {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: 0;
        }

        .increase {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left: 0;
        }

        input[type="text"] {
            width: 9vw;
            height: 7vh;
            text-align: center !important;
            font-size: 3vh;
        }

        .splitCashAmount,
        .splitCreditAmount {
            float: left;
            padding: 0 1em;
            width: 50%;
        }

        .splitCreditAmount .amount {
            font-size: 2em;
        }

    }
}

// These styles here because including them in the ticketPurchase.scss isn't working.

@media print {
    .ticketPurchaseCompleteWindowContainer .disclaimer {
        line-height: 9pt;
        font-size: 9pt;
        height: 280px;
        overflow: hidden;
    }
}