.ticketScanWindowContainer {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
}

.inputScanContainer {
    padding-bottom: 15px;
}

#clearUsageDetails {
    margin-top: 25px;
}

.inputScanContainer button {
    font-size: 1.5em;
    padding: 1px 20px;
    margin-top: -9px;
    color: #e5e5e5;
}

.inputScan {
    width: calc(100% - 105px);
    font-size: 1.25em;
    padding: 3px 15px;
    height: 39.5px;
    border: 0;
    border-bottom: 1px solid $lineColor;
}

.subHeader {
    font-weight: 600;
    font-size: 2.5vw;
    padding-bottom: 10px;
    text-transform: uppercase;
    border-bottom: 1px solid;
    line-height: 3vw;
}

.ticketScanWindowContainer .quantity,
.ticketScanWindowContainer .stamp {
    font-weight: bold;
    line-height: 1;
}

.ticketScanWindowContainer .quantity {
    font-size: 11vw;
}

.ticketScanWindowContainer .stamp {
    font-size: 7vw;
    margin-top: 17px;
    text-transform: uppercase;
    border-top: 1px solid;
    line-height: 8vw;
}

.ticketDetailContainer {
    > div {
        float: left;
        width: 31.1%;
        margin-right: 3.3333%;
        padding: 3%;
        box-sizing: border-box;
        border-radius: 9px;
        border: 1px solid $lineColor;
        text-align:center;
    }
    > div:last-child {
        margin-right: 0%;
        text-align: left;
    }

    .ticketDetails {
        font-size: 1.25vw;
        
        > div {
            padding-top: 10px;
        }
        > div:first-child {
            padding-top: 0;
        }
        .detailItem {
            span {
                font-weight: 500;
            }
            .error {
                background-color: $errorColor;
                color: $textColor;
            }
        }
    }

    .ticketDetails.testTransaction {
        background-color: rgba(255, 255, 255, 0.25);;
    }

    .statusIndicator {
        i {
            font-size: 14vw;
        }

        div {
            margin-top: -13px;
        }
        div.barcode {
            font-size: 1.5vw;
        }
    }

    .statusIndicator.ok {
        background-color: $successColor;
        color: $textColor;
    }

    .statusIndicator.error, .ticketPriceType.error {
        background-color: $errorColor;
        color: $textColor;
    }

    .statusIndicator.warning,
    .usageDetailsContainer .warning {
        background-color: $warningColor;
        color: $backgroundColor;
    }

    .ticketPriceType .ticketPriceTypeItem {
        font-size: 2.5vw;
    }

    .usageDetailsContainer {
        .subHeader {
            margin-top: 1vh;
        }
        .error {
            background-color: $errorColor;
            color:$textColor;
        }
    }
}