.quantityInputs {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.quantity {

    button {
        padding: 1vh 5vh;
        height: 8.5vh;
        width: 9vw;
        min-width: 50px;
        max-width: 95px;
        font-size: 3vh;
        max-height: 65px;
    }

    .decrease {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0;
    }


    /**/

    .increase {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0;
    }

    input[type="text"] {
        width: 10vw;
        height: 8.5vh;
        min-width: 100px;
        max-width: 140px;
        max-height: 65px;
        text-align: center;
        font-size: 4.5vh;
    }
}


.changeCalculator {
    background: rgb(44, 44, 45);
    margin: 20px 0 0px;
    padding: 20px 0 50px 0px;
    text-align: center;
}

.ticketPurchaseWindowContainer {

    .ticketPurchaseSection {
        text-align: center;
        padding: 1vh 0;
    }

    .ticketType .ticketTypeInputs div:first-child {
        margin-left: 3vw;
        float: left;
    }

    .ticketType .ticketTypeInputs div:nth-last-child(2) {
        margin-right: 3vw;
        float: right;
    }

    .ticketType button,
    .paymentType button {
        margin-right: 10px;
    }

    .ticketType button:last-child .paymentType button:last-child {
        margin-right: 0;
    }

    .ticketPurchaseSection.discountPrice {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .quantity.discountPrice {
        .appLabel {
            margin: 0.25em 0.5em 0 0;
            font-size: 1.5em;
        }

        input[type="text"] {
            width: 9vw;
            height: 7vh;
            text-align: center !important;
            font-size: 5vh;
        }

        button {
            padding: 0 5vh 0 3vh;
            height: 7vh;
            width: 0vw;
            font-size: 4vh;
            margin-right: 0;
        }
    }

    .ticketPurchaseSection.discountPrice div {
        float: left;
    }

    .pricePaid {
        div {
            font-size: 4.5vh;
            margin: 10px 0;
            font-weight: 600;
        }

        button {
            font-size: 5vh;
            padding: 0 1em;
        }
    }
}

.ticketPurchaseCompleteWindowContainer {
    text-align: center;

    .btnContainer {
        margin-top: 20px;

        button:first-child {
            margin-right: 10px;
        }
    }

    .btnContainer.void {
        height: 50px;
        position: fixed;
        bottom: 10px;
        right: 0;
        font-size: .65em;
    }

    .qrCodeContainer {
        margin: 0 auto;
        max-width: 300px;
        background-color: #fff;
    }

    .appLabel>div {
        float: left;
        margin-right: 10px;
    }

    .appLabel>div:last-child {
        clear: both;
    }

    .btnContainer.void {
        height: 50px;
        position: fixed;
        bottom: 10px;
        right: 0;
        font-size: .65em;

        .app-btn {
            padding: 8px 20px;
        }
    }
}

@media print {

    .hiddenWhenPrinted {
        display: none;
    }

    @page {
        size: 58mm 100mm;
        margin: 0;
    }

    html,
    body {
        width: 58mm;
        height: 100mm;
        font-size: 13pt;
        background: #FFF;
        overflow: visible;
        page-break-before: always;
        marks: crop cross;
    }

    body {
        //padding-top:5mm;
        padding: 0;
        width: 58mm;
        height: 100mm;
    }

    #app {
        width: 58mm;
        height: 100mm;
        margin-left: 10mm;
    }

    body,
    .appLabel,
    .headerContainer,
    .applicationHeader,
    .applicationHeader h1 {
        color: #000 !important;
        background-color: #fff !important;
    }

    .container {
        min-width: 0 !important;
        // max-width: 500px !important;
        margin: 0;
        width: 58mm;
        height: 100mm;
        //border: 1px solid #000;
    }

    .appLabel {
        font-size: 11pt;
    }

    .ticketPurchaseCompleteWindowContainer {
        text-align: left;

        .qrCodeContainer {
            margin: 0;
            max-width: 45mm;
        }
    }

    // Replace the application header with "Lost Souls Attractions" text.
    .applicationHeader {
        text-align: left;
        padding: 0;

        h1 {
            display: none;
        }
    }

    .applicationHeader:after {
        content: "Lost Souls Attractions";
        // font-size: 4vw;
        font-size: 16pt;
        font-weight: 500;
    }

    .ticketPurchaseCompleteWindowContainer {
        .btnContainer {
            display: none;
        }
    }
}